@model BannerFormModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<div class="outBox">
    <div class="card col-4" style="width: 12rem; background-color:darkgrey;">
        <img src="@Model.BannerImageURL" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title text-white">@Model.BannerTitle</h5>
            <p class="card-text" style="color:yellow">@Model.Description</p>
            <a href="@Model.BannerURL" class="btn btn-primary" target="_blank">Banner Page</a>
        </div>
        @if (SignInManager.IsSignedIn(User) && User.Identity?.Name == "KirilToshev")
        {
            <a class="btn btn-outline-light btn-sm" asp-controller="Banner" asp-action="Edit" asp-route-id="@Model.Id">Edite Banner</a>
            <hr />
            <a class="btn btn-outline-danger btn-sm" asp-area="" method="post" asp-controller="Banner" asp-action="RemoveBanner" asp-route-id="@Model.Id">Remove Banner</a>
        }
    </div>
</div>

