@model IEnumerable<ContactPlayerViewModel>
@using GameGuildRecruit.Web.ViewModels.ContactPlayer;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url("/Img/Background/BG11.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }

        .box {
            width: 220px;
            height: 100px;
            overflow: scroll;
        }
         .outBox {
            margin: 30px;
            /*border: 1px solid #ccc;*/
            float: left;
            width: 180px;
        }
    </style>
</head>

<body>
    <header>
    </header>

    <div class="text-center row">     
            @foreach (var contact in Model)
            {
            <div class="outBox">
                <div class="card col-4" style="width: 14rem;">
                    @if (contact.Feedback != null)
                    {
                        <form class="input-group-sm" asp-controller="Contact" asp-action="GetUserWithSameGameContactFeedback" asp-route-id="@contact.Id">
                            <input type="submit" value="See Feedback" class="fs-6 btn btn-outline-info mb-3 p-2" />
                        </form>
                    }
                    else
                    {
                        <button type="button" class="btn btn-secondary" disabled>Stil No Feedback</button>
                    }
                    <div class="card-header">@contact.NickName</div>
                    <a class="link-info" href="@contact.UrlLink" style="height: 1rem;" target="_blank">Visit @contact.NickName Info Page</a>
                    <hr />
                    <div class="box text-primary">@contact.Description</div>
                    @if (contact.IsAccepted == true)
                    {
                        <button type="button" class="btn btn-success" disabled>Contact is Accept</button>
                    }
                    else if (contact.IsAccepted == null)
                    {
                        <button type="button" class="btn btn-secondary" disabled>Waiting For Approval</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-danger" disabled>Contact is Rejected</button>
                    }
                    @if (SignInManager.IsSignedIn(User) && User.Identity?.Name == "KirilToshev")
                    {
                        <hr />
                        <a class="btn btn-outline-danger btn-sm" asp-area="" asp-controller="Game" asp-action="RemoveContact" asp-route-id="@contact.Id">Remove Contact</a>
                    }
                </div>
            </div>
            }
        </div>
        
</body>
</html>