@model IEnumerable<GameViewModel>

@{
    ViewBag.Title = "Games";
}


<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url("/Img/Background/BG18.png");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }

        .outBox {
            margin: 30px;
          /*  border: 1px solid #ccc;*/
             float: left;
           /* width: 180px;*/
        }
    </style>
</head>


<body>
    <header>
        @foreach (var game in Model)
        {
            <div class="outBox">
                <div class="card col-4" style="width: 16rem;" method="post">
                    <img src="@game.GameLogoImageURL" class="card-img-top">
                    <div class="card-body">           
                        @if (game.IsGameHasView == true)
                        {
                            <a class="btn btn-outline-info" asp-area="" asp-controller="Game" asp-action="GoToGame" asp-route-id="@game.Id">@game.GameName Page</a>
                            <a class="btn btn-outline-success" asp-area="" asp-controller="Game" asp-action="Edit" asp-route-id="@game.Id">Edite @game.GameName</a>
                            <button type="button" class="btn btn-success" disabled>Game View Is Created</button>
                            <hr />
                            <a class="btn btn-outline-danger" asp-area="" asp-controller="Game" asp-action="DeleteGame" asp-route-id="@game.Id">Delete Game</a>

                        }
                        else
                        {
                            <a class="btn  btn-outline-success" asp-area="" asp-controller="Game" asp-action="GameViewMade" asp-route-id="@game.Id">Create Game View</a>
                            <hr />
                            <a class="btn btn-outline-danger" asp-area="" asp-controller="Game" asp-action="DeleteGame" asp-route-id="@game.Id">Delete Game</a>
                        }
                    </div>
                </div>
            </div>
        }   
    </header>  

</body>
</html>
