@model GuildRecruitUserFormModel
@using Microsoft.AspNetCore.Identity
@{
    ViewBag.Title = "Edit Guild Info";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        btn-text-left {
            text-align: left;
        }

        btn-text-right {
            text-align: right;
        }

        body {
            background-image: url("/Img/Background/BG15.png");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }

        img {
            border-radius: 50%;
        }
    </style>
</head>

<body>
    <header>
    </header>
    <h2 class="text-center" style="color:yellow">@ViewBag.Title</h2>


    <div class="row">
        <div class="row">
            <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6  position-relative">
                @if (Model.UserAvatarPix != null)
                {
                    <div>
                        <img height="100" width=" 100" src="/Img/AvatarPix/@Model.UserAvatarPix">
                    </div>
                }
                <form class="input-group-sm" asp-controller="GuildUser" asp-action="Edit">
                    <div class="mb-3">
                        <label asp-for="@Model.NickName" class="form-label" style="color:greenyellow">NickName</label>
                        <input asp-for="@Model.NickName" class="form-control" aria-required="true" />
                        <span asp-validation-for="@Model.NickName" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.GameName" class="form-label" style="color:greenyellow">Game Name</label>
                        <select asp-for="@Model.GameName" class="form-select" name="GameName" aria-required="true">
                            <option selected>Open this select menu</option>
                            <option value="WorldOfWarcraft">World Of Warcraft</option>
                            <option value="StarCraft">Star Craft</option>
                            <option value="Diablo">Diablo</option>
                            <option value="GooglePlay">Google Play - - In Server Name Write The Game Name</option>
                        </select>
                        <span asp-validation-for="@Model.GameName" class="text-danger"></span>
                    </div>
                    @if (Model.GameName == "GooglePlay")
                    {
                        <div class="mb-3">
                            <label asp-for="@Model.ServerName" class="form-label" style="color:greenyellow">GooglePlay Game Name</label>
                            <input asp-for="@Model.ServerName" class="form-control" aria-required="true" />
                            <span asp-validation-for="@Model.ServerName" class="text-danger"></span>
                        </div>
                    }
                    else
                    {
                        <div class="mb-3">
                            <label asp-for="@Model.ServerName" class="form-label" style="color:greenyellow">Server Name</label>
                            <input asp-for="@Model.ServerName" class="form-control" aria-required="true" />
                            <span asp-validation-for="@Model.ServerName" class="text-danger"></span>
                        </div>
                    }
                    <div class="mb-3">
                        <label asp-for="@Model.GuildName" class="form-label" style="color:greenyellow">Guild Name</label>
                        <input asp-for="@Model.GuildName" class="form-control" aria-required="true" />
                        <span asp-validation-for="@Model.GuildName" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.UrlLink" class="form-label" style="color:greenyellow">Url Link</label>
                        <input asp-for="@Model.UrlLink" class="form-control" aria-required="true" />
                        <span asp-validation-for="@Model.UrlLink" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.Description" class="form-label" style="color:greenyellow">Description</label>
                        <textarea asp-for="@Model.Description" class="form-control" aria-required="true" rows="5"></textarea>
                        <span asp-validation-for="@Model.Description" class="text-danger"></span>
                    </div>                   
                    <div class="mb-3">
                        <input class="btn btn-primary" type="submit" value="@ViewBag.Title" />
                    </div>  
                </form>
                <form class="mb-3 position-absolute bottom-0 start-100" asp-controller="GuildUser" asp-action="ResetGuildInfoAcceptance">
                    <input class="btn btn-outline-danger" type="submit" value="Reset Guild Info" />
                </form>
            </div>
        </div>
    </div>


    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }


</body>
</html>


