@model ContactPlayerViewModel
@using Microsoft.AspNetCore.Identity
@{
    ViewBag.Title = "WoWContactFeedback";
}


<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url("/Img/WoW/WoW4.webp");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }

    </style>
</head>


<body>
    <header>
    </header>
    <div>
        <h2 class="display-16 text-center" style="color:white">@Model.NickName</h2>
        <a class="btn btn-primary" asp-area="" asp-controller="Pages" asp-action="WoWPreviousPage" asp-route-id="@Model.Id">WoW Page</a>
    </div>
    <hr />
    <div class="display-16 text-center">
        <a class="link-info" href="@Model.UrlLink" style="height: 3rem; color:white" target="_blank">Visit @Model.UrlLink Info Page</a>
    </div>
    <div class="display-16 text-center">
        <div class="card-body text-primary">
            <p class="fs-2" style="color:white">Contact Description</p>
            <h3 class="card-title mt-1" style="color:white">@Model.Description</h3>
        </div>
    </div>
    <hr />
    @if (Model.Feedback != null)
    {
        <div class="display-16 text-center">
            <div class="card-body text-primary">
                <p class="fs-2" style="color:white">Feedback</p>
                <h3 class="card-title mt-1" style="color:white">@Model.Feedback</h3>
            </div>
        </div>
    }





</body>
</html>



